<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DolbyAPI</key>
	<string>$(API_ENHANCE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>ArimaMadurai-Bold.ttf</string>
		<string>ArimaMadurai-ExtraBold.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-Bold.ttf</string>
		<string>ArimaMadurai-Black.ttf</string>
		<string>ArimaMadurai-Regular.ttf</string>
		<string>Mulish-Medium.ttf</string>
		<string>SF-Compact-Rounded-Regular.ttf</string>
	</array>
</dict>
</plist>
